<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    form, h1 {
        text-align: center;
        margin-top: 30px;
    }
    button {
        margin: 0 auto;
    }
    input {
        border-radius: 3px;
        border: 1px solid #343a40;
        padding: 4px 12px;
    }
    .mid {
        text-align: right;
    }
    h3 {
        text-align: center;
    }
    label {
        cursor: pointer;
    }
    .red {
        color: darkred;
        font-weight: bold;
    }
</style>
<body>
    <h1>Ипотека или Аренда?</h1>

    <form method="post" action="/">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <label for="years" title="Срок ипотеки или аренды">Срок, лет</label>
                    <input type="number" name="years" id="years" placeholder="10">
                </div>
                <div class="col-5 mid">
                    <h3>Ипотека</h3>
                    <div>
                        <label for="loan" title="Сумма кредита, без первоначального взноса">Размер кредита, руб</label>
                        <input type="number" name="loan" id="loan" placeholder="4000000">
                    </div>
                    <div>
                        <label for="rate" title="Ежегодная процентаная ставка">Ставка по ипотеке, %</label>
                        <input type="number" name="rate" id="rate" placeholder="10">
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-5 mid">
                    <h3>Аренда</h3>
                    <div>
                        <label for="rent" title="Ежемесечная арендная стоимость">Стоимость аренды, руб</label>
                        <input type="number" name="rent" id="rent" placeholder="24000">
                    </div>
                    <div>
                        <label for="percent" title="Вкладу, на который мы будем откладывать разницу между ипотекой и арендой">Ставка по вкладу, %</label>
                        <input type="number" name="percent" id="percent" placeholder="6">
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-dark">Посчитать</button>
            </div>
        </div>
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col-5">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Ипотека</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Ежемесячный платеж</th>
                            <td th:text="${pay}"/>
                        </tr>
                        <tr>
                            <th scope="row">Итоговая стоимость</th>
                            <td th:text="${total}"/>
                        </tr>
                        <tr>
                            <th scope="row">Переплата</th>
                            <span><td th:text="${overpay}" class="red"/></span>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Аренда</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Ежемесечная разница с ипотекой</th>
                            <td th:text="${diff}"/>
                        </tr>
                        <tr>
                            <th scope="row">Накопления за год</th>
                            <td th:text="${msave}"/>
                        </tr>
                        <tr>
                            <th scope="row">Накопления за весь срок</th>
                            <td th:text="${ysave}" class="red"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>